
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #7232bb 16.62%, #401e66 85.61%);
  }

  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fcfcfc;
  }

  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px
  }
  